/* Author: Kiara Furutani 
 This file contains style elements for the Shopping and Invoice pages */

img {
    border: 7px solid teal;
   /* Teal Border */
    border-radius: 4px;
    /* Rounded border */
    width: 350px;
    /* Set a small width */
    padding: 2px;
}

Main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    /* Positions Products */

}
/* Taken from W3Schools */ 
body {
 background-image: url(./images/BackdropDisplay.jpg);
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}


